<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018061691120-cjr24lj1regdfh3tplf2urlu8iinujch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018061691120-cjr24lj1regdfh3tplf2urlu8iinujch</string>
	<key>API_KEY</key>
	<string>AIzaSyBOn3_80Jt2HDx5T5GZptu35b5yKMSh184</string>
	<key>GCM_SENDER_ID</key>
	<string>1018061691120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesBloc</string>
	<key>PROJECT_ID</key>
	<string>notesbloc-be0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>notesbloc-be0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018061691120:ios:752bb0a30e0094dc340a35</string>
</dict>
</plist>